<h1>Administration Page</h1>

<ul>
    <li>
        <a asp-action="AddRoleToUser">Assigned Roles to User</a>
    </li>
    <li>
        <a asp-action="CheckUserAlreadyInRole">Check if User already in a particular Role</a>
    </li>
    <li>
         <a asp-action="GetAllRolesForUser">Get all Roles for a paticular User</a>
    </li>
</ul>


