<a asp-action="AddRoleToUser">Assigned Roles to User</a>
<a asp-action="CheckUserAlreadyInRole">Check if User already in a particular Role</a>
<a asp-action="GetAllRolesForUser">Get all Roles for a paticular User</a>