<h3>Check if User already in a particular Role</h3>
<form asp-action="CheckUserAlreadyInRole" method="post">
    <select asp-items=@ViewBag.users name="userId"></select>
    <select asp-items=@ViewBag.roles name="roleId"></select>
    <button type="submit">Check</button>
</form>

<div>@ViewBag.SuccessMessage</div>